services:
  web:
    build: .
    volumes:
      - .:/app
    expose:
      - "8000"
    env_file:
      - .env
    entrypoint: ./entrypoint.sh

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.prod.conf:/etc/nginx/conf.d/default.conf
      - ./TheCode/staticfiles:/app/TheCode/staticfiles
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web